<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProWebQLTLCNvaKLTN_v1</display-name>
  <welcome-file-list>
    <welcome-file>TrangChu.html</welcome-file>
    <welcome-file>TrangChu.html</welcome-file>
    <welcome-file>TrangChu.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DangNhap.html</welcome-file>
    <welcome-file>DangNhap.html</welcome-file>
    <welcome-file>DangNhap.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ChucNangAdmin.html</welcome-file>
    <welcome-file>ChucNangAdmin.htm</welcome-file>
    <welcome-file>ChucNangAdmin.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>Quanlytaikhoan.html</welcome-file>
    <welcome-file>Quanlytaikhoan.html</welcome-file>
    <welcome-file>Quanlytaikhoan.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>QuanLyDeTai.html</welcome-file>
    <welcome-file>QuanLyDeTai.html</welcome-file>
    <welcome-file>QuanLyDeTai.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>KiemTraSaoChep.html</welcome-file>
    <welcome-file>KiemTraSaoChep.html</welcome-file>
    <welcome-file>KiemTraSaoChep.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>SoSanh.html</welcome-file>
    <welcome-file>SoSanh.html</welcome-file>
    <welcome-file>SoSanh.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>Loc.html</welcome-file>
    <welcome-file>Loc.html</welcome-file>
    <welcome-file>Loc.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>TimDanhSachTaiKhoan.html</welcome-file>
    <welcome-file>TimDanhSachTaiKhoan.html</welcome-file>
    <welcome-file>TimDanhSachTaiKhoan.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DanhSachTaiKhoanGV.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanGV.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DanhSachTaiKhoanSV.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanSV.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanSV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>TaoTaiKhoan.html</welcome-file>
    <welcome-file>TaoTaiKhoan.html</welcome-file>
    <welcome-file>TaoTaiKhoan.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ImportTaiKhoan.html</welcome-file>
    <welcome-file>ImportTaiKhoan.html</welcome-file>
    <welcome-file>ImportTaiKhoan.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DanhSachTaiKhoanGiangVienDuocImport.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanGiangVienDuocImport.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanGiangVienDuocImport.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DanhSachTaiKhoanGiangVienDuocTao.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanGiangVienDuocTao.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanGiangVienDuocTao.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DanhSachTaiKhoanSinhVienDuocImport.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanSinhVienDuocImport.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanSinhVienDuocImport.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DanhSachTaiKhoanSinhVienDuocTao.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanSinhVienDuocTao.html</welcome-file>
    <welcome-file>DanhSachTaiKhoanSinhVienDuocTao.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>XemDanhSachDeTai.html</welcome-file>
    <welcome-file>XemDanhSachDeTai.html</welcome-file>
    <welcome-file>XemDanhSachDeTai.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ThemDeTai.html</welcome-file>
    <welcome-file>ThemDeTai.html</welcome-file>
    <welcome-file>ThemDeTai.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>TimKiemDeTai.html</welcome-file>
    <welcome-file>TimKiemDeTai.html</welcome-file>
    <welcome-file>TimKiemDeTai.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>KiemTraFileThuyetMinh.html</welcome-file>
    <welcome-file>KiemTraFileThuyetMinh.html</welcome-file>
    <welcome-file>KiemTraFileThuyetMinh.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ChiTietDeTai.html</welcome-file>
    <welcome-file>ChiTietDeTai.html</welcome-file>
    <welcome-file>ChiTietDeTai.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>KetQuaSoSanh.html</welcome-file>
    <welcome-file>KetQuaSoSanh.html</welcome-file>
    <welcome-file>KetQuaSoSanh.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DangNhapGV.html</welcome-file>
    <welcome-file>DangNhapGV.html</welcome-file>
    <welcome-file>DangNhapGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DangNhapChung.html</welcome-file>
    <welcome-file>DangNhapChung.html</welcome-file>
    <welcome-file>DangNhapChung.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ChucNangGiangVien.html</welcome-file>
    <welcome-file>ChucNangGiangVien.html</welcome-file>
    <welcome-file>ChucNangGiangVien.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>QuanLyDeTaiGV.html</welcome-file>
    <welcome-file>QuanLyDeTaiGV.html</welcome-file>
    <welcome-file>QuanLyDeTaiGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>XemDanhSachDeTaiGV.html</welcome-file>
    <welcome-file>XemDanhSachDeTaiGV.html</welcome-file>
    <welcome-file>XemDanhSachDeTaiGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ThemDeTaiGV.html</welcome-file>
    <welcome-file>ThemDeTaiGV.html</welcome-file>
    <welcome-file>ThemDeTaiGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>KiemTraSaoChepGV.html</welcome-file>
    <welcome-file>KiemTraSaoChepGV.html</welcome-file>
    <welcome-file>KiemTraSaoChepGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>TimKiemDeTaiGV.html</welcome-file>
    <welcome-file>TimKiemDeTaiGV.html</welcome-file>
    <welcome-file>TimKiemDeTaiGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ChiTietDeTaiGV.html</welcome-file>
    <welcome-file>ChiTietDeTaiGV.html</welcome-file>
    <welcome-file>ChiTietDeTaiGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>KiemTraFileThuyetMinhGV.html</welcome-file>
    <welcome-file>KiemTraFileThuyetMinhGV.html</welcome-file>
    <welcome-file>KiemTraFileThuyetMinhGV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>DangNhapSV.html</welcome-file>
    <welcome-file>DangNhapSV.html</welcome-file>
    <welcome-file>DangNhapSV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ChucNangSinhVien.html</welcome-file>
    <welcome-file>ChucNangSinhVien.html</welcome-file>
    <welcome-file>ChucNangSinhVien.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>XemDanhSachDeTaiSV.html</welcome-file>
    <welcome-file>XemDanhSachDeTaiSV.html</welcome-file>
    <welcome-file>XemDanhSachDeTaiSV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ChiTietDeTaiSV.html</welcome-file>
    <welcome-file>ChiTietDeTaiSV.html</welcome-file>
    <welcome-file>ChiTietDeTaiSV.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>